@model eaglinexamp1.Models.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu.MenuTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.MenuTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuGroup.MenuGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuGroup.MenuGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemNutritionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemNutritionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemIngredientse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemIngredientse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
